/* CAROUSEL */
.carousel{
    height: 800px;
}

/* BIG CAROUSEL */
.gallery{
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.gallery img{
    width: 100%;
}

.gallery .caption{
    position: absolute;
    top: 20px;
    left: 50px;
    color: white;
}


.gallery img,
.thumbnails img{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.big-carousel{
    position: relative;
}

/* arrows carousel */
#prev,
#next{
    position: absolute;
    top: 350px;
    cursor: pointer;
}

#prev{
    left: 100px
}

#next{
    right: 100px;
}

/* LITTLE CAROUSEL */
.thumbnails img{
    height: 100px;
    width: 200px;
    padding: 3px;
}

.bordered{
    border: 2px solid goldenrod;
}

